@model ClienteWebEurekabank.Models.TransferenciaModel

@{
    ViewData["Title"] = "Realizar Transferencia";
}

<h1>Realizar Transferencia</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<form method="post" asp-action="Transferencia">
    <div class="form-group">
        <label for="CuentaOrigen">Cuenta Origen:</label>
        <input type="text" class="form-control" id="CuentaOrigen" name="CuentaOrigen" />
    </div>
    <div class="form-group">
        <label for="CuentaDestino">Cuenta Destino:</label>
        <input type="text" class="form-control" id="CuentaDestino" name="CuentaDestino" />
    </div>
    <div class="form-group">
        <label for="Valor">Valor:</label>
        <input type="text" class="form-control" id="Valor" name="Valor" />
    </div>
    <button type="submit" class="btn btn-primary">Transferir</button>
</form>

<br />

@if (ViewBag.Result != null)
{
    <div class="alert alert-success">
        <p>@ViewBag.Result</p>
    </div>
}

<a class="btn btn-secondary" href="@Url.Action("Index", "Menu")">Regresar</a>
