<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bfaf1cb5-7093-4819-a305-32ae7ec09890/resourcegroups/arquitecturaSoft/providers/Microsoft.Web/sites/EurekabankDotnetRestFulG620240720013629</ResourceId>
    <ResourceGroup>arquitecturaSoft</ResourceGroup>
    <ApiResourceId>/subscriptions/bfaf1cb5-7093-4819-a305-32ae7ec09890/resourceGroups/DefaultResourceGroup-CQ/providers/Microsoft.ApiManagement/service/EurekabankDotnetRestFulG4api/apis/EurekabankDotnetRestFulG4</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eurekabankdotnetrestfulg620240720013629.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a97b2d29-4e1d-4416-b7b7-bcef7d1a16af</ProjectGuid>
    <MSDeployServiceURL>eurekabankdotnetrestfulg620240720013629.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EurekabankDotnetRestFulG620240720013629</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$EurekabankDotnetRestFulG620240720013629</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>